/* #############################################
#############################################
        DEFINNING THE BREAKPOINTS
#############################################
320px — 480px: MOBILES
481px — 768px: TABLETS
769px — 1024px: SMALL SCREENS / LAPTOPS
1025px — 1200px: LARGE SCREENS / DESKTOP 
1201px and more —  XL SCREENS / TV
############################################# */

/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* BASIC RESET */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
  color: white;
  font-size: 1.75rem;
  letter-spacing: 0.5rem;
}

.landing h1 {
  letter-spacing: 0.5rem;
  font-size: 4.2rem;
}

.landing {
  height: 100vh;
  background: url("../images/landing.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
}

.about {
  background-color: #b9a9f7;
  height: 100vh;
}

.portfolio {
  background-color: #d19eee;
  height: 125vh;
}

.contact {
  background-color: #b9a9f7;
  height: 75vh;
}
